<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test_Geek.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6269FD51D58EA7B00561B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6269FE91D58EA7C00561B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6269FF41D58EA7C00561B2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
